<!-- Banner -->
<section id="banner">
    <div class="rocket"><img src="{{ site.baseurl }}/assets/images/rocket.png" /></div>
    <div class="sunsystem"><img src="{{ site.baseurl }}/assets/images/sunsystem.png" /></div>
    <h2><span style="opacity: 0.7; font-weight: bold;">Connect.</span>
        <span style="opacity: 0.8; font-weight: normal;">Sell.</span>
        <span style="opacity: 0.9; font-weight: thin;">Buy.</span></h2>
    <p>Access to the world's best online hotel sellers and buyers platform in minutes.</p>
    <ul class="actions">
        <li><a href="https://www.youtube.com/watch?v=mc4kN2pKflo" class="iframe-link button"><span class="icon fa-play" style="margin-right: 10px"></span> Play Video</a></li>
        <li><a href="/pricing.html" class="button special">Start Your Free Trial Now!</a></li>
    </ul>
</section>
