<!-- CTA -->
<section id="cta">
    <h2>Sign up for beta programme</h2>
    <p>Ratemarkt currently is in beta programme. Leave us a note if you are interested to get in!</p>
    <form>
        <div class="row uniform 50%">
            <div class="8u 12u(mobilep)">
                <input type="email" name="email" id="email" placeholder="Email Address" />
            </div>
            <div class="4u 12u(mobilep)">
                <input type="submit" value="Sign Up" class="fit" />
            </div>
        </div>
    </form>
    <div class="launch"><img src="{{ site.baseurl }}/assets/images/megaphone.png" /></div>
</section>