<!-- Header -->
    <header id="header" class="{% if page.landing %}alt{% endif %}">
        <h1><a href="index.html"><img style="width: 12px; height:12px; margin-right: 2px" src="{{ site.baseurl }}/assets/images/icon.png" /> RATEMARKT</a> The Ultimate Travel Marketplace</h1>
        <nav id="nav">
            <ul>
                <li><a href="generic.html">Features</a></li>
                <li><a href="generic.html">Pricing</a></li>
                <li><a href="generic.html">Developers</a></li>
                <li><a href="generic.html">Company</a></li>
                <li>
                        <a href="#">Support</a>
                        <ul>
                            <li><a href="elements.html">F.A.Q</a></li>
                            <li><a href="elements.html">Knowledge Base</a></li>
                            <li><a href="elements.html">Tutorials</a></li>
                            <li><a href="elements.html">Customer Support</a></li>
                        </ul>
                    </li>
                <li><a href="https://app.ratemarkt.com/">Login</a></li>
                <li><a href="https://app.ratemarkt.com/accounts/register/" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>
