<!-- Header -->
    <header id="header" class="{% if page.landing %}alt{% endif %}">
        <h1><a href="index.html"><img style="width: 12px; height:12px; margin-right: 2px" src="{{ site.baseurl }}/assets/images/icon.png" /> RATEMARKT</a> The Ultimate Travel Marketplace</h1>
        <nav id="nav">
            <ul>
                <li><a href="features.html">Features</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="developers.html">Developers</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="http://support.ratemarkt.com/" target="_blank">Support</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="https://app.ratemarkt.com/">Login</a></li>
                <li><a href="https://app.ratemarkt.com/accounts/register/" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>
